<div class="row">

  <div class="w-100">
    <app-sales-graph></app-sales-graph>
  </div>
  <div class="w-100">
    <h2>Weather Data</h2>
  </div>
  <div class="row p-4 w-100">
    <div class="col">
        <div class="row">
        
        <div class="col-sm-6">
            <div class="card"> 
                <div class="card-header" style="height:110px; background-color:#7eb89c">
                    <h3 class="card-title text-white m-b-0 dl">Valencia</h3> <small class="card-text text-white font-light">Sunday 15 march</small>
                </div>
                <div class="card-body weather-small">
                    <div class="row">
                        <div class="col-8 b-r align-self-center">
                            <div class="d-flex">
                                <div class="display-6 text-info"><i class="mdi mdi-weather-pouring"></i></div>
                                <div class="m-l-20">
                                    <h1 class="font-light text-info m-b-0">25<sup>0</sup></h1> <small>Sunny Rainy day</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 text-center">
                            <h1 class="font-light m-b-0">15<sup>0</sup></h1> <small>Tonight</small>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card"> 
                <div class="card-header" style="height:110px; background-color:#1e1d33">
                    <h3 class="card-title text-white m-b-0 dl">Athens</h3> <small class="card-text text-white font-light">Sunday 15 march</small>
                </div>
                <div class="card-body weather-small">
                    <div class="row">
                        <div class="col-8 b-r align-self-center">
                            <div class="d-flex">
                                <div class="display-6 text-info"><i class="mdi mdi-weather-pouring"></i></div>
                                <div class="m-l-20">
                                    <h1 class="font-light text-info m-b-0">20<sup>0</sup></h1> <small>Sunny Rainy day</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 text-center">
                            <h1 class="font-light m-b-0">1<sup>0</sup></h1> <small>Tonight</small>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card"> 
                <div class="card-header" style="height:110px; background-color:#4fc3f7">
                    <h3 class="card-title text-white m-b-0 dl">Madrid</h3> <small class="card-text text-white font-light">Sunday 15 march</small>
                </div>
                <div class="card-body weather-small">
                    <div class="row">
                        <div class="col-8 b-r align-self-center">
                            <div class="d-flex">
                                <div class="display-6 text-info"><i class="mdi mdi-weather-pouring"></i></div>
                                <div class="m-l-20">
                                    <h1 class="font-light text-info m-b-0">32<sup>0</sup></h1> <small>Sunny Rainy day</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 text-center">
                            <h1 class="font-light m-b-0">22<sup>0</sup></h1> <small>Tonight</small>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card"> 
                <div class="card-header" style="height:110px; background-color:#6c757d">
                    <h3 class="card-title text-white m-b-0 dl">Paris</h3> <small class="card-text text-white font-light">Sunday 15 march</small>
                </div>
                <div class="card-body weather-small">
                    <div class="row">
                        <div class="col-8 b-r align-self-center">
                            <div class="d-flex">
                                <div class="display-6 text-info"><i class="mdi mdi-weather-pouring"></i></div>
                                <div class="m-l-20">
                                    <h1 class="font-light text-info m-b-0">30<sup>0</sup></h1> <small>Sunny Rainy day</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 text-center">
                            <h1 class="font-light m-b-0">20<sup>0</sup></h1> <small>Tonight</small>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>

    <div id="map" class="col" leaflet [leafletOptions]="mapOptions"></div>


</div>

</div>
